* {
    font-family: 'Times New Roman', Times, serif;
    
         
}

.navbar-brand{
    font-size:30px !important;
    color: whitesmoke !important;
}
nav{
  width: 100%;
  position: fixed !important;
  left: 0;
  top: 0;
  box-shadow: 0px 5px 8px rgba(0,0,0,.5);
  z-index: 100;
}
.nav-item{
    font-weight: bold;
    font-size: 20px; 
    margin-left: 10px;
    margin-right: 10px; 
}

.nav-link {
  color: rgb(219, 213, 213) !important;}
  .nav-link:hover {
  color: rgb(231, 162, 162) !important;
  font-size: 22px;
}
body {
    
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 0%; 
}
section{
  width: 100%;
  height: 100vh;
}
#home{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(bg.jpg) no-repeat center center/cover;
  display: flex;
  align-items: center;
  color: aliceblue;
  flex-direction: column;
}
#home .logo{
  width: 300px;
  margin-top: 620px;
  margin-left: 100px;
}

#home .logo i{
  color: rgb(161, 51, 51);
background-color: rgb(133, 120, 120);
padding: 3px;
margin-left: 20px;
border-radius: 20%;
font-size: 40px;
}
#home p{
  position: absolute;
  top: 50%;
  font-size: 100px;
  opacity: 0;
  animation: iam 3s ease-in-out;
}
#home span{
  color: black;
  font-weight: 500;
}
#home p:nth-child(1){
  animation-delay: 0s;
}
#home p:nth-child(2){
  animation-delay: 3s;
}
@keyframes iam{
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
#about{
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
}
.circle{
  width: 400px;
  height: 400px;
  background: wheat;
  border-radius: 50%;
  position: relative;
  top: 10%;
  box-shadow: 0px 5px 12px rgba(0,0,0,.7);
  margin-bottom: 3%;
  transition: 1s;

}
.circle img{
  position: absolute;
  height: 350px;
  top: -20%;
  left: 16%;
  filter: drop-shadow(0px 40px 15px rgba(0,0,0,.4));
  transition: 1s;
}
.circle:hover{
  width: 700px;
  height: 400px;
  border-radius: 5%;
  transition: 1s;
}
.circle:hover img{
  position: absolute;
  top: 0%;
  left: 5%;
  transition: 1s;
}
.circle:hover .content{
  position: absolute;
  top: 15%;
  right: 5%;
  width: 45%;
  opacity: 1;
  transition: 2s;
}
.circle .content{
  opacity: 0;
}
#skills{
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  bottom: 20%;
}
.skill{
  width: 1000px;
  height: 600px;
  background: wheat;
  border-radius: 5%;
  position: relative;
  top: 5%;
  font-size: 30px;
  font-weight: 200;
  padding: 50px;
}

.skill ul{
  position: absolute !important;
  top: 33%;
  left: 30%;
}
.skill img{
  border-radius: 50%;
  position: absolute;
  top: 40%;
}
.fsg{
  border-radius: 10% !important;
  position: absolute;
  top: 42% !important;
  right: 5%;
  height: 200px;
}
#edu{
    display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
}
.ed{
  width: 1100px;
  height: 500px;
  background: wheat;
  border-radius: 10%;
  position: relative;
  box-shadow: 0px 5px 12px rgba(0,0,0,.7);
  margin-bottom: 3%;
  margin-top: 100px;
  padding: 50px 20px;

}


@media screen and (max-width:576px) {
  #home p{
  position: absolute;
  top: 30%;
  font-size: 60px;
  opacity: 0;
  animation: iam 3s ease-in-out;
}
#home .logo{
  width: 300px;
  margin-top: 520px;
  color: red;
  margin-left: 100px;
}
#home .logo i{
background-color: rgb(133, 120, 120);
padding: 2px;
margin-left: 20px;
border-radius: 20%;
font-size: 40px;
}
  .circle{
  width: 400px;
  height: 400px;
  background: wheat;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 5px 12px rgba(0,0,0,.7);
  margin-bottom: 3%;
  transition: 1s;

}
.circle:hover img{
  position: absolute;
  top: 0%;
  left: 18%;
  transition: 1s;
}
.circle:hover{
  width: 400px;
  height: 650px;
  border-radius: 5%;
  transition: 1s;
}
.circle:hover .content{
  position: absolute;
  top: 55%;
  right: 0%;
  width: 100%;
  padding: 15px;
  opacity: 1;
  transition: 2s;
}
.skill{
  width: 400px;
  height: 550px;
  background: wheat;
  border-radius: 5%;
  position: relative;
  top: 5%;
  font-size: 20px;
  font-weight: 200;
  padding: 50px;
}
.skill img{
  border-radius: 50%;
  position: absolute;
  top: 40%;

  right: 2%;
  height: 150px;
}
.skill ul{
  position: absolute !important;
  top: 33%;
  left: 18%;
}
.fsg{
  border-radius: 40% !important;
  position: absolute;
  top: 75% !important;
  right: 30% !important;
  height: 100px !important;
}
.ed{
  width: 450px;
  height: 600px;
  background: wheat;
  border-radius: 5%;
  position: relative;
  box-shadow: 0px 5px 12px rgba(0,0,0,.7);
  margin-bottom: 3%;
  margin-top: 10px;
  padding: 18px 15px;

}
.ed h4{
  font-size: 18px;
}
.ed p{
  font-size: 13px;
}
 
}

.skill ul li{
  list-style-type: none;
}